/** * @Author: 元实 * @Date: 2020-06-11 * @Description: Spreadsheet组件 */

<template>
  <div class="container">
    <Table :layout="layout" :data="data" ref="table" :width="width"></Table>
  </div>
</template>

<script>
import Table from './components/Table';

export default {
  components: {
    Table,
  },

  props: ['layout', 'data', 'width'],

  data() {
    return {
      isValidFinished: false,
      isValid: true,
    };
  },

  methods: {
    /**
     * 验证输入的数据
     */
    validate(callback) {
      if (callback) {
        callback(this.$refs.table.validate());
      }
    },

    /**
     * 清理
     */
    clear() {
      this.$refs.table.clear();
    },

    /**
     * 清理输入的值
     */
    clearInput() {
      this.$refs.table.clearInput();
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  padding-bottom: 10px;
  overflow-x: auto;
}
</style>
